name: CI

on: 
  workflow_dispatch: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.prepare-build.outputs.VERSION }}
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    
    - name: Compile
      run: mvn -B compile

    - name: Package
      run: mvn -B package -P prod

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Prepare docker build
      id: prepare-build
      run: |
        VERSION=$(grep "<version>" pom.xml | sed -n '2p' | cut -d'>' -f2 | cut -d'<' -f1)
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
  
    - name: Extract metadata (tags, labels) for Docker
      id: docker-metadata
      uses: docker/metadata-action@v5
      with:
        images: herculesproject/sgi-external-sgdoc-reference-imp
        labels: |
          org.opencontainers.image.title=sgi-external-sgdoc-reference-imp
        tags: |
          type=semver,pattern={{version}},value=${{ steps.prepare-build.outputs.VERSION }}
          type=sha
          type=raw,value=ci
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: "./"
        push: true
        tags: ${{ steps.docker-metadata.outputs.tags }}
        labels: ${{ steps.docker-metadata.outputs.labels }}

    - name: Set up JDK to deploy on Central
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Deploy to Central
      run: mvn -B deploy -P deployToCentral -DskipTests
      env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  call_update_sgi_deploy:
    name: Update sgi-deploy repo
    needs: build
    uses: herculesproject/sgi/.github/workflows/update-sgi-deploy-repo.yml@ci
    with:
      service-name: 'sgi-external-sgdoc-reference-imp'
      service-version: ${{ needs.build.outputs.VERSION }}
      sha: ${{ github.sha }}
    secrets: inherit